<!DOCTYPE html>
<html ng-app="davLinkHomeApp">

<head>
    <!-- APP STYLES -->
    <link rel="stylesheet" type="text/css" href="/app/css/tianesStyle.css" />
    <link rel="stylesheet" type="text/css" href="/app/css/steveStyle.css" />
    <link rel="stylesheet" type="text/css" href="/app/css/build.min.css" />

    <script src="/node_modules/angular/angular.js"></script>
    <script src="/app/js/home/home.js"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" type="text/css" href="/node_modules/font-awesome/css/font-awesome.css" />

</head>

<body ng-controller="davLinkHomeCtrl" style="height:{{$CONFIG.height}}px;width:{{$CONFIG.width}}px;outline: none;-webkit-transition: width 80ms; /* Safari */">
    <div ng-show="$CONFIG.viewInit">
        <gs ng-click="$execute.windowRestList();$execute.getRest();" col="x-3">
            <div gui="classic-kpi" title="Servicios atrapados por el Sniffer" bg-color="emerald">
                <section>
                    <p>{{$view.restLength}}</p>
                    <h1>Enviados</h1>
                </section>
                <footer>
                    <h1>Request</h1>
                </footer>
            </div>
        </gs>

        <gs ng-click="$execute.windowJsonRest();" col="x-3">
            <div gui="classic-kpi" title="Respuestas de los servicios atrapados" bg-color="midnight-blue">
                <section>
                    <h1>Decifrar Respuesta</h1>
                </section>
                <footer>
                    <h1>JSON decrypt</h1>
                </footer>
            </div>
        </gs>
    </div>

    <gs-row ng-show="$CONFIG.viewTabRest">
        <gs>
            <box>
                <gs-row>
                    <gs col="x-12">
                        <div ng-show="$list.restList.length != 0">
                            <table gui="table:table-bordered:table-fixed">
                                <thead>
                                    <tr>
                                        <th width="65" align="center">METODO</th>
                                        <th width="60" align="center">TIPO</th>
                                        <th align="center">API / SERVICIO</th>
                                        <th width="135" align="center">HORA</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="repeatRest in $list.restList">
                                        <th width="65" align="center">{{repeatRest.method}}</th>
                                        <th width="60" align="center">xHR</th>
                                        <th align="center">{{repeatRest.nameService }}</th>
                                        <th width="135" align="center">{{repeatRest.time | date: 'medium'}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div ng-show="$list.restList.length == 0">
                            <table gui="table:table-bordered:table-zebra:table-fixed">
                                <thead>
                                    <tr>
                                        <th align="center">
                                            <div class="loading">
                                                Cargando</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th align="center">
                                            <div style="width:30px;height:30px" class="loader">
                                            </div>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </gs>
                    <gs>
                        <input type="button" gui="form-button" ng-click="$execute.windowInit();" bg-color="alizarin" value="Volver">
                    </gs>
                </gs-row>
            </box>
        </gs>
    </gs-row>

    <gs-row ng-show="$CONFIG.viewJsonDecrypt">
        <gs>
            <box>
                <gs-row>
                    <gs col="x-6">
                        <label gui="label">
                            <textarea name="name" id="dataJsonRest" ng-value="$temp.dataJsonRest" rows="21" cols="45"></textarea>
                        </label>
                    </gs>
                    <gs col="x-6">
                        <label gui="label">
                            <textarea name="name" id="dataJsonRest" ng-value="$temp.dataJsonRest" rows="21" cols="45"></textarea>
                        </label>
                    </gs>
                    <gs col="x-6">
                        <input type="button" gui="form-button" ng-click="$execute.windowInit();" bg-color="alizarin" value="Volver">
                    </gs>
                    <gs col="x-6">
                        <input type="button" gui="form-button" ng-click="$execute.copyJsonRestList();" bg-color="alizarin" value="{{$state.dataJsonRest}}">
                    </gs>
                </gs-row>
            </box>
        </gs>
    </gs-row>

</body>

</html>
